@charset "UTF-8";
/* CSS Document */

#Home {
    background-color: #f3f3f3;
    font-family: ヒラギノ角ゴ Pro;
    font-weight: bold;
    color: #212529;
}

.navbar-brand {
    font-family: athelas;
}

.nav-link {
    font-family: athelas;
}

.jumbotron {
    background:url(https://github.com/onotake/onotake.github.io/blob/master/portforio_top.jpg?raw=true)center no-repeat;
    background-size: cover;
    font-family: Athelas;
}

.display-4 {
    color: #f3f3f3;
}

.lead {
    color: #f3f3f3;
}

.section-title-block {
    text-align: center;
    font-family: Athelas;
}

.section-title-css {
    font-size: 40px;
    margin-left: 10px;
}

.text {
    margin-top: 6%;
}

.section-title-SKILL {
    margin: 4%;
    width: 89%;
}

.card-header {
    text-align: center;
}

.star-rating {
    position: relative;
    display:inline-block;
    font-size: 25px;
  }
  .star-rating .star-rating-item{
    position:absolute;
    overflow: hidden;
  }
  .star-rating .star-rating-item:before{
    content:"★★★";
    color: #ffcc33;
  }
  .star-rating:after {
    content:"★★★★★";
    color: #ccc;
  }

  th {
      text-align: center;
      padding: .75rem;
  } 














