@charset "UTF-8";
/* CSS Document */

#Home {
    background-color: #f3f3f3;
    font-family: ヒラギノ角ゴ Pro;
    font-weight: bold;
    color: #212529;
}

.navbar-brand {
    font-family: athelas;
}

.nav-link {
    font-family: athelas;
}

.jumbotron {
    background:url(https://github.com/onotake/onotake.github.io/blob/master/portforio_top.jpg?raw=true)center no-repeat;
    background-size: cover;
    font-family: Athelas;
}

.display-4 {
    color: #f3f3f3;
}

.lead {
    color: #f3f3f3;
}

.section-title-block {
    text-align: center;
    margin: 5%;
    font-family: Athelas;
}

.section-title-css {
    font-size: 45px;
    margin-left: 10px;
}

.section-main-wrapper {
    display: flex;
    justify-content: center;
}

.text {
    float: right;
}














